<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
	<display-name>MINC - Pessoa</display-name>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>agencia_consultar</web-resource-name>
			<url-pattern>/servicos/agencia/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_agencia_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>agencia_cadastrar</web-resource-name>
			<url-pattern>/servicos/agencia/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_agencia_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>agencia_atualizar</web-resource-name>
			<url-pattern>/servicos/agencia/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_agencia_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>agencia_deletar</web-resource-name>
			<url-pattern>/servicos/agencia/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_agencia_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>bairro_cadastrar</web-resource-name>
			<url-pattern>/servicos/bairro/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_bairro_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>bairro_deletar</web-resource-name>
			<url-pattern>/servicos/bairro/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_bairro_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>bairro_consultar</web-resource-name>
			<url-pattern>/servicos/bairro/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_bairro_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>bairro_atualizar</web-resource-name>
			<url-pattern>/servicos/bairro/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_bairro_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>banco_atualizar</web-resource-name>
			<url-pattern>/servicos/banco/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_banco_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>banco_consultar</web-resource-name>
			<url-pattern>/servicos/banco/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_banco_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>banco_cadastrar</web-resource-name>
			<url-pattern>/servicos/banco/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_banco_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>banco_deletar</web-resource-name>
			<url-pattern>/servicos/banco/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_banco_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>caracteristica_fisica_cadastrar</web-resource-name>
			<url-pattern>/servicos/caracteristica_fisica/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_caracteristica_fisica_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>caracteristica_fisica_atualizar</web-resource-name>
			<url-pattern>/servicos/caracteristica_fisica/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_caracteristica_fisica_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>caracteristica_fisica_deletar</web-resource-name>
			<url-pattern>/servicos/caracteristica_fisica/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_caracteristica_fisica_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>conta_corrente_consultar</web-resource-name>
			<url-pattern>/servicos/conta_corrente/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_conta_corrente_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>conta_corrente_cadastrar</web-resource-name>
			<url-pattern>/servicos/conta_corrente/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_conta_corrente_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>conta_corrente_atualizar</web-resource-name>
			<url-pattern>/servicos/conta_corrente/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_conta_corrente_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>conta_corrente_deletar</web-resource-name>
			<url-pattern>/servicos/conta_corrente/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_conta_corrente_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_area_consultar</web-resource-name>
			<url-pattern>/servicos/curso_area/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_area_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_area_cadastrar</web-resource-name>
			<url-pattern>/servicos/curso_area/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_area_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_area_atualizar</web-resource-name>
			<url-pattern>/servicos/curso_area/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_area_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_area_deletar</web-resource-name>
			<url-pattern>/servicos/curso_area/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_area_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_formacao_consultar</web-resource-name>
			<url-pattern>/servicos/curso_formacao/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_formacao_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_formacao_cadastrar</web-resource-name>
			<url-pattern>/servicos/curso_formacao/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_formacao_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_formacao_atualizar</web-resource-name>
			<url-pattern>/servicos/curso_formacao/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_formacao_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_formacao_deletar</web-resource-name>
			<url-pattern>/servicos/curso_formacao/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_formacao_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_nivel_formacao_consultar</web-resource-name>
			<url-pattern>/servicos/curso_nivel_formacao/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_nivel_formacao_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_nivel_formacao_cadastrar</web-resource-name>
			<url-pattern>/servicos/curso_nivel_formacao/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_nivel_formacao_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_nivel_formacao_atualizar</web-resource-name>
			<url-pattern>/servicos/curso_nivel_formacao/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_nivel_formacao_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_nivel_formacao_deletar</web-resource-name>
			<url-pattern>/servicos/curso_nivel_formacao/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_nivel_formacao_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_deletar</web-resource-name>
			<url-pattern>/servicos/curso/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_consultar</web-resource-name>
			<url-pattern>/servicos/curso/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_cadastrar</web-resource-name>
			<url-pattern>/servicos/curso/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>curso_atualizar</web-resource-name>
			<url-pattern>/servicos/curso/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_curso_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>documentacao_pessoa_cadastrar</web-resource-name>
			<url-pattern>/servicos/documentacao_pessoa/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_documentacao_pessoa_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>documentacao_pessoa_atualizar</web-resource-name>
			<url-pattern>/servicos/documentacao_pessoa/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_documentacao_pessoa_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>documentacao_pessoa_deletar</web-resource-name>
			<url-pattern>/servicos/documentacao_pessoa/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_documentacao_pessoa_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>email_cadastrar</web-resource-name>
			<url-pattern>/servicos/email/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_email_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>email_deletar</web-resource-name>
			<url-pattern>/servicos/email/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_email_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>email_consultar</web-resource-name>
			<url-pattern>/servicos/email/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_email_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>email_atualizar</web-resource-name>
			<url-pattern>/servicos/email/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_email_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>endereco_consultar</web-resource-name>
			<url-pattern>/servicos/endereco/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_endereco_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>endereco_cadastrar</web-resource-name>
			<url-pattern>/servicos/endereco/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_endereco_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>endereco_atualizar</web-resource-name>
			<url-pattern>/servicos/endereco/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_endereco_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>endereco_deletar</web-resource-name>
			<url-pattern>/servicos/endereco/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_endereco_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>escolaridade_consultar</web-resource-name>
			<url-pattern>/servicos/escolaridade/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_escolaridade_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>idioma_pessoa_consultar</web-resource-name>
			<url-pattern>/servicos/idioma_pessoa/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_idioma_pessoa_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>idioma_pessoa_cadastrar</web-resource-name>
			<url-pattern>/servicos/idioma_pessoa/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_idioma_pessoa_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>idioma_pessoa_atualizar</web-resource-name>
			<url-pattern>/servicos/idioma_pessoa/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_idioma_pessoa_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>idioma_pessoa_deletar</web-resource-name>
			<url-pattern>/servicos/idioma_pessoa/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_idioma_pessoa_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>idioma_consultar</web-resource-name>
			<url-pattern>/servicos/idioma/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_idioma_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>logradouro_consultar</web-resource-name>
			<url-pattern>/servicos/logradouro/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_logradouro_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>logradouro_cadastrar</web-resource-name>
			<url-pattern>/servicos/logradouro/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_logradouro_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>logradouro_atualizar</web-resource-name>
			<url-pattern>/servicos/logradouro/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_logradouro_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>logradouro_deletar</web-resource-name>
			<url-pattern>/servicos/logradouro/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_logradouro_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>municipio_consultar</web-resource-name>
			<url-pattern>/servicos/municipio/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_municipio_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pais_consultar</web-resource-name>
			<url-pattern>/servicos/pais/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pais_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>formacao_cadastrar</web-resource-name>
			<url-pattern>/servicos/formacao/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_formacao_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>formacao_atualizar</web-resource-name>
			<url-pattern>/servicos/formacao/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_formacao_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>formacao_deletar</web-resource-name>
			<url-pattern>/servicos/formacao/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_formacao_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_estrangeira_consultar</web-resource-name>
			<url-pattern>/servicos/pessoa_estrangeira/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_estrangeira_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_estrangeira_cadastrar</web-resource-name>
			<url-pattern>/servicos/pessoa_estrangeira/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_estrangeira_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_estrangeira_atualizar</web-resource-name>
			<url-pattern>/servicos/pessoa_estrangeira/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_estrangeira_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_fisica_consultar</web-resource-name>
			<url-pattern>/servicos/pessoa_fisica/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_fisica_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_fisica_atualizar</web-resource-name>
			<url-pattern>/servicos/pessoa_fisica/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_fisica_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_juridica_consultar</web-resource-name>
			<url-pattern>/servicos/pessoa_juridica/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_juridica_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_vinculada_consultar</web-resource-name>
			<url-pattern>/servicos/pessoa_vinculada/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_vinculada_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_vinculada_cadastrar</web-resource-name>
			<url-pattern>/servicos/pessoa_vinculada/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_vinculada_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_vinculada_atualizar</web-resource-name>
			<url-pattern>/servicos/pessoa_vinculada/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_vinculada_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_vinculada_deletar</web-resource-name>
			<url-pattern>/servicos/pessoa_vinculada/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_vinculada_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>telefone_consultar</web-resource-name>
			<url-pattern>/servicos/telefone/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_telefone_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>telefone_cadastrar</web-resource-name>
			<url-pattern>/servicos/telefone/cadastrar/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_telefone_cadastrar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>telefone_atualizar</web-resource-name>
			<url-pattern>/servicos/telefone/atualizar/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_telefone_atualizar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>telefone_deletar</web-resource-name>
			<url-pattern>/servicos/telefone/deletar/*</url-pattern>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_telefone_deletar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tipo_abrangencia_consultar</web-resource-name>
			<url-pattern>/servicos/tipo_abrangencia/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_tipo_abrangencia_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tipo_email_consultar</web-resource-name>
			<url-pattern>/servicos/tipo_email/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_tipo_email_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tipo_endereco_consultar</web-resource-name>
			<url-pattern>/servicos/tipo_endereco/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_tipo_endereco_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tipo_pessoa_consultar</web-resource-name>
			<url-pattern>/servicos/tipo_pessoa/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_tipo_pessoa_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tipo_telefone_consultar</web-resource-name>
			<url-pattern>/servicos/tipo_telefone/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_tipo_telefone_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tipo_vinculo_consultar</web-resource-name>
			<url-pattern>/servicos/tipo_vinculo/consultar/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_tipo_vinculo_consultar</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_fisica_verificar_situacao_cadastral</web-resource-name>
			<url-pattern>/servicos/pessoa_fisica/verificar_situacao_cadastral/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_fisica_verificar_situacao_cadastral</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pessoa_juridica_verificar_situacao_cadastral</web-resource-name>
			<url-pattern>/servicos/pessoa_juridica/verificar_situacao_cadastral/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>corporativo_pessoa_juridica_verificar_situacao_cadastral</role-name>
		</auth-constraint>
	</security-constraint>



	<security-role>
		<role-name>corporativo_agencia_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_agencia_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_agencia_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_agencia_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_bairro_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_bairro_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_bairro_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_bairro_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_banco_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_banco_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_banco_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_banco_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_caracteristica_fisica_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_caracteristica_fisica_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_caracteristica_fisica_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_conta_corrente_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_conta_corrente_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_conta_corrente_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_conta_corrente_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_area_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_area_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_area_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_area_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_formacao_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_formacao_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_formacao_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_formacao_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_nivel_formacao_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_nivel_formacao_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_nivel_formacao_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_nivel_formacao_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_curso_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_documentacao_pessoa_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_documentacao_pessoa_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_documentacao_pessoa_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_email_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_email_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_email_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_email_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_endereco_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_endereco_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_endereco_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_endereco_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_escolaridade_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_idioma_pessoa_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_idioma_pessoa_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_idioma_pessoa_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_idioma_pessoa_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_idioma_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_logradouro_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_logradouro_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_logradouro_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_logradouro_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_municipio_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pais_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_formacao_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_formacao_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_formacao_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_estrangeira_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_estrangeira_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_estrangeira_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_fisica_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_fisica_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_juridica_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_vinculada_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_vinculada_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_vinculada_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_vinculada_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_telefone_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_telefone_cadastrar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_telefone_atualizar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_telefone_deletar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_tipo_abrangencia_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_tipo_email_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_tipo_endereco_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_tipo_pessoa_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_tipo_telefone_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_tipo_vinculo_consultar</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_fisica_verificar_situacao_cadastral</role-name>
	</security-role>
	<security-role>
		<role-name>corporativo_pessoa_juridica_verificar_situacao_cadastral</role-name>
	</security-role>
</web-app>
